<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifttt.hqlighttts">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/label_application"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/HqLightttsTheme"
        android:name="com.ifttt.hqlighttts.HqLightttsApp">

    <receiver
        android:name="com.ifttt.hqlighttts.appwidget.LightProvider">

      <intent-filter>

        <action
            android:name="android.appwidget.action.APPWIDGET_UPDATE" />

      </intent-filter>

      <meta-data
          android:name="android.appwidget.provider"
          android:resource="@xml/info_appwidget_light_provider" />

    </receiver>

  </application>

</manifest>
